p{
    color: #506370;
}
body{
    overflow-x: hidden !important;
    width: 100%;
    height: 100%;
}
.bag{
    overflow: hidden;
}
#fon{
    background: url('img/juristy25865214700-1920x1080.jpg');
    background-size: cover;
    height: 400px;
    background-position-x: right; 
}
.contact{
    color: black !important;
    font-size: 20px;
    font-weight: 600;
}
.nav-item{
    font-size: 20px;
    padding-right: 30px !important; 
    transition: .6s;
    font-weight: 600;
}
.nav-item:hover{
    color: #1e5dc6 !important;
}
#slovo, #tire{
    font-size: 21px;
}
.title{
    border-bottom: 1px solid black;
    padding-bottom: 2px;  
    font-size: 40px;
    color: #173950;
}
.block{
    margin-bottom: 40px;
    visibility: hidden;
}
.foto{
    visibility: hidden;
}
.forma{
    visibility: hidden;
}
.block > p:nth-child(1){
    text-align: center;
    margin-bottom: 0px !important;
    font-weight: 600;
    font-size: 27px;
    color: #1e5dc6;
}
.block > p:nth-child(2){
    font-size: 18px;
}
.About{
    border-bottom: 2px solid black;
}
.About:nth-child(2){
    border-left: 2px solid black;
    background: url(img/exp.jpg);
    background-size: cover;
}
.fonAbout{
    background-color: white;
    width: 100%;
    height: 100%;
    transition: .5s;
}
.fonAbout:hover{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}
.About:nth-child(3){
    background: url(img/clients.jpg);
    background-size: cover;
    border-left: 2px solid black;
    background-position-y: center; 
}
.About:nth-child(4){
    background: url(img/const.jpg);
    background-size: cover;
    border-left: 2px solid black;
    background-position-y: center;
}
.AboutName{
    font-size: 35px;
    font-weight: 700;
    color: #1e5dc6;
}
.fonAbout div p{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
    color: #4b4b4b;
}
.fonAbout:hover div p{
    font-size: 25px;
    font-weight: 600;
    color: white;
    cursor: default;
}
.button{
    background-color: rgba(57, 159, 255, 0.623);
    cursor: pointer;
    transition: .6s;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.button:hover{
    color: white;
}
.card-body{
    height: 150px;
}
.spectrum{
    border: 1px solid rgb(126, 126, 126);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
div > h3{
    border-bottom: 1px solid gray;
    padding-bottom: 3px;
}
.media-body > p{
    font-size: 17px;
}
#form{
    background: url(img/form.jpg);
    background-position-x: right;
    background-size: cover;
}
.whitefon{
    background-color: rgba(0, 0, 0, 0.707);
    height: 100%;
    width: 100%;
}
.line{
    background-color: transparent;
    border: 0px solid white;
    border-bottom: 1px solid rgb(179, 179, 179);
    border-radius: 0px;
    color: white;
    width: 70%;
    transition: .7s;
}
.line:hover{
    border-bottom: 1px solid white;
}
.line:focus, .line:active{
    outline-offset: 0;
    outline: none !important;
    border-bottom: 1px solid rgb(108, 252, 79);
}
.titleForm{
    font-size: 25px;
}

/* animation */
@keyframes hvr-ripple-out {
    100% {
      top: -12px;
      right: -12px;
      bottom: -12px;
      left: -12px;
      opacity: 0;
    }
  }
  .hvr-ripple-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
  }
  .hvr-ripple-out:before {
    content: '';
    position: absolute;
    border: #007bff solid 6px;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation: hvr-ripple-out 1s linear infinite;
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    animation: zoomIn 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    visibility: visible;
  }

  @keyframes flipInX {
    from {
      transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      animation-timing-function: ease-in;
      opacity: 0;
    }
  
    40% {
      transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      animation-timing-function: ease-in;
    }
  
    60% {
      transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      opacity: 1;
    }
  
    80% {
      transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
  
    to {
      transform: perspective(400px);
    }
  }
  
  .flipInX {
    backface-visibility: visible !important;
    animation: flipInX 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    visibility: visible;
  }

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInLeft {
    animation: fadeInLeft 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    visibility: visible;
  }
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInRight {
    animation: fadeInRight 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    visibility: visible;
  }
  @keyframes fadeInUpBig {
    from {
      opacity: 0;
      transform: translate3d(0, 2000px, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInUpBig {
    animation: fadeInUpBig 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    visibility: visible !important;
  }
  
  
  